 /* Below we have a grouped selector */
 p, ul {
    color:midnightblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}
/* descendent selector */
p a {
    color:darkgreen;
}
#firstparagraph {
    color:blueviolet;
}
.pinktext {
    color:hotpink
}
a {
    text-decoration:none;
    color:dodgerblue;
}