@media only screen and (max-width: 844px) 
{
    nav a{
        width: 100%;
        display:block;
        padding: 10px;
    }
}
@media only screen and (max-width: 844px) 
{
    span{
        display:none;
    }
}
.influencerrow, .influencerinfo, .contactphotos, .tallboots, .cargo,.bomber, .outfits,.outfitdescriptions {
    flex-wrap:wrap;
}

body{
    background-color:#fcfbf4;
    font-family:'News Cycle', sans-serif;
    color: #000034; 
    font-size: 1em;
}
nav {
    background-color: #000034;
    text-align:center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5em;
}
h1,h2,h3,h4 {
    font-family: 'Bodoni Moda', serif;
}
.ontherise, .styleguide {
    font-size: 4em;
}
nav a{
    color: #ffffff;
    font-size: 1em;
    font-family:'Bodoni Moda', serif;
}
nav a:hover {
    color:#000049;
    background-color: #fcfbf4;
}
a:hover {
    color:#000049;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
#skip {
    background-color:#ce3375;
    color:#000034;
    border: 1px solid #000000;
    padding: 2px;
    position: absolute; /* out of page flow for layout*/
    left: -999px;
}
#skip:focus {
    left: 10px;
}

/* home page*/
.tallboots, .cargo , .bomber {
    display:flex;
    padding:20px;
    margin:20px;
}
.row1tall , .row1cargo, .row1bomber {
    flex:3;
}
.row2tall, .row2cargo, .row2bomber {
    flex:3;
}
.trends, .outfit {
    text-align: center;
}
a {
    color:#ce3375
}
h1, .sayless {
    text-align: center;
}
.letstalk {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 50%;
}
#outfit-slideshow-container {
    width: 1200px;
    margin: auto; /* margin auto is centering this container */   
    padding: 30px;     
}
#bigimages {margin-right: 100px;}
#outfitdescriptions {padding: 100px;}
#outfit-thumbnails {width: 840px; margin: auto; padding-top: 20px;} 
#classoutfitthumb, #tailgatethumb, #nightoutoutfitthumb, #datenightoutfitthumb 
{width: 100px;}

#classoutfit, #tailgateoutfit, #nightoutoutfit, #classinfo, #tailgateinfo, #nightoutinfo {
    display:none;
}
#nightoutoutfit, #classinfo, #tailgateinfo, #nightoutinfo, #datenightinfo {
    text-align: center;
}
#bigimages {
float:left;
}

.clear {
clear:both;
}
.weblogodiv {
    display:grid;
    place-items: center;
    padding: 20px;
}
/* on the rise page*/
.wgsn, .vogue, .wwd{
    display:flex;
    padding:20px;
    margin:20px;
    border-radius: 2em;
}
.row1wgsn, .row1vogue, .row1wwd {
    flex:3;
    padding:50px;
}
.row2wgsn, .row2vogue, .row2wwd {
    flex:1;
    padding:30px;
}

.influencerrow, .influencerinfo {
    display:flex;
}
.undinfo, .giniinfo, .frankiesinfo {
    flex:1;
    padding:60px;
    margin:40px;
    text-align: center;
}

.und, .gini, .frankies {
    flex:1;
}

.newpeople , .runway{
    text-align: center;
}
img {
    border-radius: 1em;
}
.fashresources, .runwaylife {
    text-align: center;
}
.runwayshows, .modelvideos {
    display: flex;
    justify-content: center;
}


/* about me */
.aboutmelogo {
    display: grid;
    place-items: center;
    padding: 30px;
}
.myphoto {
    display: grid;
    place-items: center;
}

.wordmark {
    margin:50px;
}

footer {
    background-color:#000034;
    text-align: center;
}
.mailto {
    color:#ffffff
}
.socials {
    display:flex;
    justify-content: center;
    padding:20px;
}
form {
    text-align: center;
}
.aboutme, .contactbelle {
    text-align: center;
}
