@media only screen and (max-width: 844px) 
{
    .navbar a{
        width: 100%;
        display:block;
        padding: 10px;
    }
    div {flex-wrap: wrap;}
    iframe {
            max-width: 100%;
        }
    }
    .outfitdescriptions {flex-wrap: wrap;}

@media only screen and (max-width: 844px) 
{
    span{
        display:none;
    }
}



.navbar {
    overflow: hidden;
    background-color:#000034;
    font-family: 'Bodoni Moda', sans-serif;
    justify-content:center;
    display: flex;
  }
  #bellenavhover :hover {
    background-color: #dddddd;
  }
  .navbar a {
    font-size: 1.5em;
    color:#fcfbf4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
  .belledropdown {
    float: left;
    overflow: hidden;
  }
  
  .belledropdown .belledropdownbutton {
    cursor: pointer;
    font-size: 1.5em;  
    border: none;
    outline: none;
    color: #fcfbf4;
    background-color: #000034;
    padding: 14px 16px;
    font-family: 'Bodoni Moda', sans-serif;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .belledropdownbutton, .dropbtn:focus {
    background-color:#dddddd;
  }

  .dropdownbutton {
    background-color: #000034;
    color: #fcfbf4;
    font-family:'Bodoni Moda', sans-serif ;
  }
  .belledropdown-content {
    display:none;
    position: absolute;
    background-color:#000034;
    color: #fcfbf4;
    min-width: 160px;
  }
  
  .belledropdownbutton :hover{
background-color: #dddddd;
  }
  .belledropdown-content a {
    float: none;
    font-size: 1em;
    color:#fcfbf4;
    text-decoration: none;
    display: block;
    text-align:center;
    padding: none;
  }
  
  .belledropdown-content a:hover {
    background-color: #dddddd;
  }
  
  .show {
    display: block;
  }



















.contactphotos, .tallboots, .cargo,.bomber, .outfits,.outfitdescriptions, .wgsn, .vogue, .wwd, .runwayshows, .modelvideos {
    flex-wrap:wrap;
}
#bellekornberg {
    color:#000034;
}

::-webkit-scrollbar {
    background-color: #000034;
    width:5px;
}
::-webkit-scrollbar-thumb {
  background-color: #ce3375;
  height: 2px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

.talk {
    background-color: #000034;
    color:#fcfbf4;
    font-family:'Bodoni Moda', serif;
}

body{
    background-color:#fcfbf4;
    font-family:'News Cycle', sans-serif;
    color: #000034; 
    font-size: 1em;
}
nav {
    background-color: #000034;
    text-align:center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5em;
}
h1,h2,h3,h4 {
    font-family: 'Bodoni Moda', serif;
}
.ontherise, .styleguide {
    font-size: 4em;
}
nav a{
    color: #ffffff;
    font-size: 1em;
    font-family:'Bodoni Moda', serif;
}
nav a:hover {
    color:#000049;
    background-color: #fcfbf4;
}
a:hover {
    color:#000049;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
#skip {
    background-color:#000034;
    color: #fcfbf4;
    border: 1px solid #000000;
    padding: 2px;
    position: absolute; /* out of page flow for layout*/
    left: -999px;
    font-family: 'Bodoni Moda', serif;
}
#skip:focus {
    left: 10px;
}

/* home page*/
.tallboots, .cargo , .bomber {
    display:flex;
    padding:20px;
    margin:20px;
}
.advice {
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Bodoni Moda', serif;
}


.row1tall , .row1cargo, .row1bomber {
    flex:3;
}
.row2tall, .row2cargo, .row2bomber {
    flex:3;
}
.trends, .outfit {
    text-align: center;
}
a {
    color:#ce3375;
}
h1, .sayless {
    text-align: center;
}
.letstalk {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 50%;
}
#outfit-slideshow-container {
    width: 1200px;
    margin: auto; /* margin auto is centering this container */   
    padding: 30px;     
}
#bigimages {margin-right: 100px;}
#outfitdescriptions {padding: 100px;}
#outfit-thumbnails {width: 840px; margin: auto; padding-top: 20px;} 
#classoutfitthumb, #tailgatethumb, #nightoutoutfitthumb, #datenightoutfitthumb 
{width: 100px;}
#classoutfit, #tailgateoutfit, #nightoutoutfit, #classinfo, #tailgateinfo, #nightoutinfo {
    display:none;
}
#nightoutoutfit, #classinfo, #tailgateinfo, #nightoutinfo, #datenightinfo {
    text-align: center;
}
#bigimages {
float:left;
}
.clear {
clear:both;
}
.weblogodiv {
    display:grid;
    place-items: center;
    padding: 20px;
}
/* on the rise page*/
.wgsn, .vogue, .wwd{
    display:flex;
    padding:20px;
    margin:20px;
    border-radius: 2em;
}
.row1wgsn, .row1vogue, .row1wwd {
    flex:3;
    padding:50px;
    margin: 50px;
    text-align: center;
}
.row2wgsn, .row2vogue, .row2wwd {
    flex:1;
    padding:30px;
}

.socialmedia{
    display:flex;
    text-align: center;
    justify-content: center;
}
.und {
    flex:1;
}
.frankies {
    flex:3;
}
.undcontent , .ginicontent , .frankiescontent {
    padding: 50px;
}
.newpeople , .runway{
    text-align: center;
}
img {
    border-radius: 1em;
}
.fashresources, .runwaylife {
    text-align: center;
}
.runwayshows, .modelvideos {
    display: flex;
    justify-content: center;
}
.runwayshows {
    padding-bottom: 30px;
}

/* about me */
.aboutmelogo {
    display: grid;
    place-items: center;
    padding: 40px;
}
#myphoto {
    display: grid;
    place-items: center;
}

.wordmark {
    margin:50px;
}

footer {
    background-color:#000034;
    text-align: center;
}
.mailto {
    color:#ffffff
}
.socials {
    display:flex;
    justify-content: center;
    padding:30px;
}
form {
    text-align: center;
}
.aboutme, .contactbelle, .favlooks {
    text-align: center;
}

.linkedin, .instagram {
    padding:5px;
}
.thankyou {
    text-align: center;
    font-size: 1.15em;
    background-color: #000034;
    color:#fcfbf4;
}
.aboutmecontent {
    text-align: center;
    margin:60px;
}
